.dropdown {
  clear: both;
}

.dropdown .dropdown-title {
  padding: 0.5rem;

  color: var(--gray-off);
  background-color: var(--gray-light);

  border: 1px solid;
  border-color: var(--gray-light);
  border-radius: 6px;

  cursor: pointer;
  transition: border-color 0.1s ease-in-out;
}

.dropdown .dropdown-title:hover {
  border-color: var(--cyan-dark);
}

.dropdown .dropdown-title:has(+ .opened) {
  border-color: var(--cyan-dark);
}

.dropdown .dropdown-search-title {
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: var(--gray-lighter) !important;
  font-weight: 600;
  font-size: 1rem;
}

.dropdown .dropdown-title-selected {
  color: var(--gray-lighter) !important;
}

.dropdown .dropdown-list {
  position: absolute;

  background-color: var(--gray-dark);
  border-style: solid;
  border-radius: 6px;

  width: calc(100% - 3rem);
  padding: 0;

  overflow: auto;
}

.dropdown .dropdown-list.opened {
  border-width: 1px;
  max-height: 8rem;
  z-index: 1000;
  border-color: var(--gray-light);
}

.dropdown .dropdown-list.closed {
  border-width: 0;
  max-height: 0px;
  z-index: 0;
  border-color: var(--gray-dark);
}

.dropdown .dropdown-item {
  color: var(--gray-lighter);
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown .dropdown-item:hover {
  background-color: var(--gray-light);
}

.dropdown .dropdown-item::marker {
  content: '';
}
