.calendar {
  position: relative;
  margin-top: 1rem;

  box-sizing: border-box;
  width: 75%;
  max-width: 330px;
  padding: 16px;

  background-color: var(--gray-light);
  border: 2px solid var(--gray-light);
  border-radius: 13px;

  display: flex;
  justify-content: space-between;
  font-weight: 400;

  color: var(--text);
  cursor: pointer;
}

.calendar:hover {
  border-color: var(--cyan-dark);
}

.calendar .calendar-title {
  color: var(--gray-lighter);
  font-weight: 600;
}

.calendar img {
  width: 1rem;
}

.calendar-modal {
  box-sizing: border-box;
  width: calc(100% - 3rem);
  max-width: 650px;
  padding: 1.5rem;
  padding-top: 1rem;

  border-radius: 13px;
  border: 1px solid var(--gray-light);
  background-color: var(--gray-dark);

  overflow: visible;
}

.cm-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 0.5rem;
}

.cm-header img {
  width: 2rem;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
  filter: var(--gray-lighter-filter);
  transition: background-color 0.2s;
  border-radius: 999px;
}

.cm-header img:hover {
  background-color: rgb(255, 255, 255);
}

.cm-header img:nth-of-type(1) {
  transform: rotate(180deg);
}

.cm-header-text {
  display: flex;
}

.cm-header p {
  padding: 0.5rem;
  color: var(--gray-lighter);
  cursor: pointer;
}

.cm-header p:hover {
  color: var(--cyan-dark);
}

.cm-body {
  display: flex;
  flex-direction: column;
}

.cm-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cm-row:nth-of-type(1) {
  margin-top: 0.5rem;
}

.cm-item {
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  width: calc(100% / 7);
  color: var(--gray-lighter);
  transition: background-color 0.2s;
  border-radius: 999px;
}

.cm-item:not(.disabled):hover {
  background-color: rgb(255, 255, 255, 0.05);
  cursor: pointer;
}

.cm-item.disabled {
  color: var(--gray-light) !important;
}