.classes-container {
  margin-top: 0.75rem;
  box-sizing: border-box;
  padding: 0 1rem 8rem 1rem;
  width: 100%;
}

.cc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}

.cc-header img {
  width: 2rem;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
  filter: var(--gray-lighter-filter);
  transition: background-color 0.2s;
  border-radius: 999px;
}

.cc-header img:hover {
  background-color: var(--white);
}

.cc-header img:nth-of-type(1) {
  transform: rotate(180deg);
}

.cc-header-text {
  display: flex;
  font-size: 1.5rem;
  color: var(--white)
}

.cc-header p {
  padding: 0.5rem;
  color: var(--gray-lighter);
  cursor: pointer;
}

.cc-header p:hover {
  color: var(--cyan-dark);
}

.class-card {
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 13px;
  border: 1px solid var(--gray-light);
  font-weight: 400;
}

.class-card > *:not(:first-child) {
  margin-top: 8px;
}

.class-card .cs-header-container {
  display: flex;
  justify-content: space-between;
}

.class-card .cs-header-title-count {
  color: var(--white);
}

.class-card .cs-header-title-time {
  color: var(--gray-off);
}

.class-card .cs-header-type {
  color: var(--gray-off);
}

.class-card .cs-item {
  font-size: 1.5rem;
  color: var(--white);
}

.class-card .cs-teacher {
  color: var(--gray-off);
}

.class-card .cs-place {
  color: var(--gray-off);
}

.class-card .subgroup {
  padding: 0;
  color: var(--gray-lighter);
  font-family: Inter, sans-serif;
  font-weight: 600;
  display: flex;
  width: fit-content;
  margin-top: 12px;
  background-color: var(--gray-light);
  border-radius: 13px;
  border: none;
  cursor: pointer;
}

.class-card .subgroup p {
  padding: 10px;
  font-weight: 500;
  pointer-events: none;
}

.class-card .subgroup .active {
  border-radius: 10px;
  background-color: var(--cyan-dark);
  color: var(--gray-light);
}

.cc-loading, .cc-empty {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--gray-lighter);
}

